
:root {
    --color-primario: #3C2F2F;    /* Marrón Oscuro (Texto principal, Pie de página) */
    --color-secundario: #D4B499;  /* Crema/Marrón Claro (Títulos) */
    --color-fondo-claro: #F8F4F0; /* Fondo de la página */
    --color-acento: #F4C47C;      /* Ocre/Naranja (Botones) */
    --color-texto-claro: #FFFFFF; /* Blanco */
}
/* Tipografia */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Georgia', serif;
    color: var(--color-primario);
    background-color: var(--color-fondo-claro);
    line-height: 1.6;
}

h1, h2, h3 {
    font-family: serif;
    color: var(--color-secundario);
    margin-bottom: 1rem;
    font-weight: 400;
}

.contenedor { /* Clase principal para centrar el contenido */
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.flexible {
    display: flex;
    align-items: center;
    gap: 20px;
}

.rejilla-4 { 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

.rejilla-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.texto-centrado {
    text-align: center;
}

.boton { /* Botón principal (Ordenar ahora, Registrarse) */
    background-color: var(--color-acento);
    color: var(--color-primario);
    border: none;
    border-radius: 5px;
    padding: 10px 25px;
    font-size: 1rem;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
}

.boton:hover {
    background-color: #E8B466; 
}

.boton-secundario {
    background-color: transparent;
    border: 2px solid var(--color-acento);
    color: var(--color-acento);
}

.boton-secundario:hover {
    background-color: var(--color-acento);
    color: var(--color-texto-claro);
}
.pie-pagina {
    background-color: var(--color-primario);
    color: var(--color-texto-claro);
    padding: 40px 0;
}
.pie-pagina h3{
    color: var(--color-texto-claro);
    margin-bottom: 0.5rem;
}
.pie-pagina p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1rem;
}


.pie-pagina .columna-pie:first-child,
.pie-pagina .columna-pie:last-child {
    text-align: left;
}
