
:root {
    --color-primario: #3C2F2F;    /* Marrón Oscuro (Texto principal, Pie de página) */
    --color-secundario: #D4B499;  /* Crema/Marrón Claro (Títulos) */
    --color-fondo-claro: #F8F4F0; /* Fondo de la página */
    --color-acento: #F4C47C;      /* Ocre/Naranja (Botones) */
    --color-texto-claro: #FFFFFF; /* Blanco */




